html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lora", serif;
}

.titulo {
    margin-top: 50px;
    font-family: "Courier New", Courier, monospace;
}

.titulo--fonte {
    font-family: "Exo 2", sans-serif;
    font-size: 1.9rem;
}

.fonte--grande {
    font-size: 3.2rem;
}

.fonte--media {
    font-size: 1.7rem;
}

.fonte--pequena {
    font-size: 1.2rem;
}

.background {
    background-image: url(../img/background-foods-v4.png);
    background-attachment: fixed;
    background-color: #2e2d4c;
    padding: 2px;
}

.cabecalho {
    width: 72%;
    color: #fff;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
}

.conteudo {
    line-height: 3rem;
    width: 72%;
    max-width: 940px;
    color: #4d3c64;
    border-radius: 0.5rem;
    background-color: #fff;
    margin: auto;
    margin-bottom: 220px;
    padding: 60px;
    box-shadow: -10px 8px 30px #312f2f;
    z-index: 2;
}

.subtitle--color {
    color: #c0bcc9;
}

.avatar {
    width: 140px;
    float: left;
    margin-right: 20px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 180px;
    margin-bottom: 20px;
}

.pa2 {
    padding: 6px;
}

.pa4 {
    padding: 12px;
}

.pr2 {
    padding-right: 6px;
}

.pr4 {
    padding-right: 12px;
}

.navigation {
    margin-bottom: 50px;
}

.navigation li {
    display: inline-block;
    width: 150px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navigation li a:link,
.navigation li a:visited {
    color: #c0bcc9;
    text-decoration: none;
}

.navigation li a:hover {
    color: #65636b;
    text-decoration: underline;
}

.navigation li a:active {
    color: #3b257c;
}

.fotos img {
    border-radius: 8px;
    filter: grayscale(0.4);
    width: 448px;
    height: 240px;
    object-fit: cover;
    margin-right: 18px;
    margin-top: 4px;
}

.fotos img:hover {
    filter: none;
}

ul.experiencia {
    padding-left: 26px;
}

.btn-inicio {
    width: 60px;
    background-color: white;
    height: 60px;
    border-radius: 50%;
    font-size: 2.8rem;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    opacity: 0.3;
}

.btn-inicio:hover {
    opacity: 0.9;
}

.habilidades label {
    width: 280px;
    display: inline-block;
}

.habilidades progress {
    accent-color: #2e2d4c;
}

.footer {
    position: relative;
    padding: 120px;
    background-color: #1b1a2f;
    color: #fff;
    text-align: center;
}

.logotipo {
    color: #2e2d4c;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    font-size: 1.8rem;
    padding-top: 10px;
    z-index: 1;
}

.logomarca.fundo {
    background-color: #fff;
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 50%;
    margin-top: -50px;
    transform: translateX(50%) rotate(45deg);
}

.footer .links a {
    text-decoration: none;
    font-size: 1.4rem;
}

.footer .links a:hover {
    color: #fff;
}


/* -- Apenas no mobile */

@media (max-width: 720px) {
    body {
        position: absolute;
    }
    .logo img {
        width: 120px;
    }
    .avatar {
        width: 110px;
    }
    .fonte--grande {
        font-size: 2.2rem;
    }
    .fonte--media {
        font-size: 1.3rem;
    }
    .fonte--pequena {
        font-size: 1rem;
    }
    .navigation li {
        width: 130px;
        font-size: 1.1rem;
    }
}